<div id="main-div" *ngIf="saftFile" class="saftFiles">
  <div id="company-details" class="details-div">
    <h3 class="title">{{saftFile.data.Header[0].CompanyName[0]}} Details:</h3>
    <div class="detail"><span class="detail-span">NIF: </span>{{saftFile.data.Header[0].TaxRegistrationNumber[0]}}</div>
    <div class="detail"><span class="detail-span">Telephone: </span>{{saftFile.data.Header[0].Telephone[0]}}</div>
    <div class="detail"><span class="detail-span">Fax: </span>{{saftFile.data.Header[0].Fax[0]}}</div>
    <div class="detail"><span class="detail-span">Email: </span>{{saftFile.data.Header[0].Email[0]}}</div>
    <div class="detail"><span class="detail-span">Website: </span><a href="/">{{saftFile.data.Header[0].Website[0]}}</a>
    </div>
    <div id="detail-address" class="detail">
      <span class="detail-span">Address:</span>
      <div style="margin-left: 5px;">
        {{saftFile.data.Header[0].CompanyAddress[0].StreetName[0]}},
        {{saftFile.data.Header[0].CompanyAddress[0].BuildingNumber[0]}}
        <br />
        {{saftFile.data.Header[0].CompanyAddress[0].PostalCode[0]}},
        {{saftFile.data.Header[0].CompanyAddress[0].City[0]}}
        <br />
        {{saftFile.data.Header[0].CompanyAddress[0].Region[0]}},
        {{saftFile.data.Header[0].CompanyAddress[0].Country[0]}}
      </div>
    </div>
  </div>

  <div id="saftfile-details" class="details-div">
    <h3 class="title">SaftPT Details:</h3>
    <div class="detail"><span class="detail-span">Fiscal year: </span>{{saftFile.data.Header[0].FiscalYear[0]}}</div>
    <div class="detail"><span class="detail-span">Start date: </span>{{saftFile.data.Header[0].StartDate[0]}}</div>
    <div class="detail"><span class="detail-span">End date: </span>{{saftFile.data.Header[0].EndDate[0]}}</div>
    <div class="detail"><span class="detail-span">Currency: </span>{{saftFile.data.Header[0].CurrencyCode[0]}}</div>
    <div class="detail"><span class="detail-span">Created in: </span>{{saftFile.data.Header[0].DateCreated[0]}}</div>
  </div>

  <div class="details-div">
    <div class="total-values-div">
      <h3 class="total-values-title">Total Debit: </h3>
      <div id="debit-div">{{saftFile.data.GeneralLedgerEntries[0].TotalDebit[0]}}</div>
    </div>

    <div class="total-values-div">
      <h3 class="total-values-title">Total Credit: </h3>
      <div id="credit-div">{{saftFile.data.GeneralLedgerEntries[0].TotalCredit[0]}}</div>
    </div>
  </div>

  <div id="purchases-details" class="details-div">
    <h3 class="title">Purchases:</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Source ID</th>
          <th>Description</th>
          <th>Doc Archival Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchase of purchases">
          <td>{{purchase.TransactionID[0]}}</td>
          <td>{{purchase.TransactionDate[0]}}</td>
          <td>{{purchase.SourceID[0]}}</td>
          <td>{{purchase.Description[0]}}</td>
          <td>{{purchase.DocArchivalNumber[0]}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="sales-details" class="details-div">
    <h3 class="title">Sales:</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Source ID</th>
          <th>Description</th>
          <th>Doc Archival Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sale of sales">
          <td>{{sale.TransactionID[0]}}</td>
          <td>{{sale.TransactionDate[0]}}</td>
          <td>{{sale.SourceID[0]}}</td>
          <td>{{sale.Description[0]}}</td>
          <td>{{sale.DocArchivalNumber[0]}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="sales-invoices-details" class="details-div">
    <h3 class="title">Sales Invoices:</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Source ID</th>
          <th>Date</th>
          <th>Customer ID</th>
          <th>Shipping Date</th>
          <th>Shipping Address</th>
          <th>Delivering Date</th>
          <th>Delivering Address</th>
          <th>Subtotal</th>
          <th>Taxes</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let saleInvoice of salesInvoices">
          <td>{{saleInvoice.InvoiceNo[0]}}</td>
          <td>{{saleInvoice.InvoiceType[0]}}</td>
          <td>{{saleInvoice.SourceID[0]}}</td>
          <td>{{saleInvoice.SystemEntryDate[0]}}</td>
          <td>{{saleInvoice.CustomerID[0]}}</td>
          <td>{{saleInvoice.ShipTo[0].DeliveryDate[0]}}</td>
          <td>
            {{saleInvoice.ShipTo[0].Address[0].AddressDetail[0]}}
            <br />
            {{saleInvoice.ShipTo[0].Address[0].PostalCode[0]}},
            {{saleInvoice.ShipTo[0].Address[0].City[0]}} - {{saleInvoice.ShipTo[0].Address[0].Country[0]}}
          </td>
          <td>{{saleInvoice.ShipFrom[0].DeliveryDate[0]}}</td>
          <td>
            {{saleInvoice.ShipFrom[0].Address[0].AddressDetail[0]}}
            <br />
            {{saleInvoice.ShipFrom[0].Address[0].PostalCode[0]}},
            {{saleInvoice.ShipFrom[0].Address[0].City[0]}} - {{saleInvoice.ShipFrom[0].Address[0].Country[0]}}
          </td>
          <td>{{saleInvoice.DocumentTotals[0].NetTotal[0]}}</td>
          <td>{{saleInvoice.DocumentTotals[0].TaxPayable[0]}}</td>
          <td>{{saleInvoice.DocumentTotals[0].GrossTotal[0]}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="sales-invoices-detailed-details" class="details-div">
    <h3 class="title">Sales Invoices Detailed:</h3>
    <table>
      <thead>
        <tr>
          <th>Invoice ID</th>
          <th>Line No</th>
          <th>Prod Code</th>
          <th>Prod Description</th>
          <th>Quantity</th>
          <th>Measure Unit</th>
          <th>Unit Price</th>
          <th>Total</th>
          <th>Tax</th>
          <th>Tax Type</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let saleInvoice of salesInvoices">
          <tr *ngFor="let line of saleInvoice.Line">
            <td>{{saleInvoice.InvoiceNo[0]}}</td>
            <td>{{line.LineNumber[0]}}</td>
            <td>{{line.ProductCode[0]}}</td>
            <td>{{line.ProductDescription[0]}}</td>
            <td>{{line.Quantity[0]}}</td>
            <td>{{line.UnitOfMeasure[0]}}</td>
            <td class="number-line">{{line.UnitPrice[0]}}</td>
            <td class="number-line">{{line.CreditAmount[0]}}</td>
            <td class="number-line">{{line.Tax[0].TaxPercentage[0]}}</td>
            <td>{{line.Tax[0].TaxType[0]}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div id="accounts-details" class="details-div">
    <h3 class="title">Accounts:</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Opening DB</th>
          <th>Opening CB</th>
          <th>Closing DB</th>
          <th>Closing CB</th>
          <th>Grouping Category</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts">
          <td class="number-line">{{account.AccountID[0]}}</td>
          <td>{{account.AccountDescription[0]}}</td>
          <td class="number-line">{{account.OpeningDebitBalance[0]}}</td>
          <td class="number-line">{{account.OpeningCreditBalance[0]}}</td>
          <td class="number-line">{{account.ClosingDebitBalance[0]}}</td>
          <td class="number-line">{{account.ClosingCreditBalance[0]}}</td>
          <td>{{account.GroupingCategory[0]}}</td>
        </tr>
      </tbody>
    </table>
    <div class="table-label">
      <div class="table-label-div"><span class="detail-span">DB</span> - Debit Balance</div>
      <div class="table-label-div"><span class="detail-span">CB</span> - Credit Balance</div>
    </div>
  </div>

  <div id="customers-details" class="details-div">
    <h3 class="title">Customers:</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Account ID</th>
          <th>NIF</th>
          <th>Name</th>
          <th>Billing Address</th>
          <th>Shipping Address</th>
          <th>Telephone</th>
          <th>Website</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{customer.CustomerID[0]}}</td>
          <td class="number-line">{{customer.AccountID[0]}}</td>
          <td class="number-line">{{customer.CustomerTaxID[0]}}</td>
          <td>{{customer.CompanyName[0]}}</td>
          <td *ngIf="customer.BillingAddress[0].Region != undefined; else elseBlock">
            {{customer.BillingAddress[0].AddressDetail[0]}}
            <br />
            {{customer.BillingAddress[0].PostalCode[0]}},
            {{customer.BillingAddress[0].City[0]}}
            <br />
            {{customer.BillingAddress[0].Region[0]}},
            {{customer.BillingAddress[0].Country[0]}}
          </td>
          <td *ngIf="customer.ShipToAddress[0].Region != undefined; else elseBlock">
            {{customer.ShipToAddress[0].AddressDetail[0]}}
            <br />
            {{customer.ShipToAddress[0].PostalCode[0]}},
            {{customer.ShipToAddress[0].City[0]}}
            <br />
            {{customer.ShipToAddress[0].Region[0]}},
            {{customer.ShipToAddress[0].Country[0]}}
          </td>
          <td class="number-line" *ngIf="customer.Telephone != undefined; else elseBlock">{{customer.Telephone[0]}}</td>
          <td *ngIf="customer.Website != undefined; else elseBlock">{{customer.Website[0]}}</td>
          <ng-template #elseBlock>
            <td>Na</td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="suppliers-details" class="details-div">
    <h3 class="title">Suppliers:</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Account ID</th>
          <th>NIF</th>
          <th>Name</th>
          <th>Billing Address</th>
          <th>Shipping Address</th>
          <th>Telephone</th>
          <th>Website</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplier of suppliers">
          <td>{{supplier.SupplierID[0]}}</td>
          <td class="number-line">{{supplier.AccountID[0]}}</td>
          <td class="number-line">{{supplier.SupplierTaxID[0]}}</td>
          <td>{{supplier.CompanyName[0]}}</td>
          <td>
            {{supplier.BillingAddress[0].AddressDetail[0]}}
            <br />
            {{supplier.BillingAddress[0].PostalCode[0]}},
            {{supplier.BillingAddress[0].City[0]}}
            <br />
            {{supplier.BillingAddress[0].Region[0]}},
            {{supplier.BillingAddress[0].Country[0]}}
          </td>
          <td>
            {{supplier.ShipFromAddress[0].AddressDetail[0]}}
            <br />
            {{supplier.ShipFromAddress[0].PostalCode[0]}},
            {{supplier.ShipFromAddress[0].City[0]}}
            <br />
            {{supplier.ShipFromAddress[0].Region[0]}},
            {{supplier.ShipFromAddress[0].Country[0]}}
          </td>
          <td class="number-line">{{supplier.Telephone[0]}}</td>
          <td>{{supplier.Website[0]}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="products-details" class="details-div">
    <h3 class="title">Products:</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Group</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.ProductCode[0]}}</td>
          <td>{{product.ProductGroup[0]}}</td>
          <td>{{product.ProductDescription[0]}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="taxes-details" class="details-div">
    <h3 class="title">Taxes:</h3>
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Country Region</th>
          <th>Code</th>
          <th>Description</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tax of taxes">
          <td>{{tax.TaxType[0]}}</td>
          <td>{{tax.TaxCountryRegion[0]}}</td>
          <td>{{tax.TaxCode[0]}}</td>
          <td>{{tax.Description[0]}}</td>
          <td>{{tax.TaxPercentage[0]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
